In [2]:
import pandas as pd

file_path = 'fulldata_store.csv'
df = pd.read_csv(file_path, encoding='cp949')

print(df.head())

C:\Users\chang\AppData\Local\Temp\ipykernel_5904\3876185289.py:4: DtypeWarning: Columns (11,17,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, encoding='cp949')

   번호 개방서비스명    개방서비스아이디  개방자치단체코드                    관리번호       인허가일자  \
0   1  일반음식점  07_24_04_P   4311000  4311000-101-2025-00012  2025-01-06
1   2  일반음식점  07_24_04_P   4311000  4311000-101-2025-00011  2025-01-06
2   3  일반음식점  07_24_04_P   4311000  4311000-101-2025-00010  2025-01-06
3   4  일반음식점  07_24_04_P   4311000  4311000-101-2025-00009  2025-01-06
4   5  일반음식점  07_24_04_P   4311000  4311000-101-2025-00008  2025-01-06

   인허가취소일자  영업상태구분코드 영업상태명  상세영업상태코드  ... 공장생산직직원수 건물소유구분명  보증액  월세액  \
0      NaN         3    폐업         2  ...      0.0     NaN  0.0  0.0
1      NaN         3    폐업         2  ...      0.0     NaN  0.0  0.0
2      NaN         3    폐업         2  ...      0.0     NaN  0.0  0.0
3      NaN         3    폐업         2  ...      0.0     NaN  0.0  0.0
4      NaN         3    폐업         2  ...      0.0     NaN  0.0  0.0

   다중이용업소여부 시설총규모  전통업소지정번호 전통업소주된음식 홈페이지 Unnamed: 47
0         N   0.0       NaN      NaN  NaN         NaN
1         N   0.0       NaN      NaN  NaN         NaN
2         N   0.0       NaN      NaN  NaN         NaN
3         N   0.0       NaN      NaN  NaN         NaN
4         N   0.0       NaN      NaN  NaN         NaN

[5 rows x 48 columns]

In [3]:
print(df.columns)

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보x(epsg5174)',
       '좌표정보y(epsg5174)', '위생업태명', '남성종사자수', '여성종사자수', '영업장주변구분명', '등급구분명',
       '급수시설구분명', '총직원수', '본사직원수', '공장사무직직원수', '공장판매직직원수', '공장생산직직원수',
       '건물소유구분명', '보증액', '월세액', '다중이용업소여부', '시설총규모', '전통업소지정번호', '전통업소주된음식',
       '홈페이지', 'Unnamed: 47'],
      dtype='object')

In [4]:
columns_to_keep = [
    '영업상태명',
    '소재지전화',
    '소재지전체주소',
    '도로명전체주소',
    '사업장명',
    '업태구분명',
    '좌표정보x(epsg5174)',
    '좌표정보y(epsg5174)',
    '위생업태명'
]

df = df[columns_to_keep]

print(df.head())

  영업상태명        소재지전화                                        소재지전체주소  \
0    폐업          NaN       강원특별자치도 화천군 화천읍 중리 233 (현장낚시(2낚시터) 절산방향)
1    폐업          NaN  강원특별자치도 화천군 화천읍 아리 216-2 (현장낚시(1낚시터) 초등학교 방향)
2    폐업  033 4404757             강원특별자치도 화천군 화천읍 중리 186-5 나라축제조직위원회
3    폐업  033 4404756       강원특별자치도 화천군 화천읍 중리 233 (현장낚시(2낚시터) 절산방향)
4    폐업  033 4404756           강원특별자치도 화천군 화천읍 중리 204-4 (외국인낚시터 방향)

                               도로명전체주소        사업장명 업태구분명  좌표정보x(epsg5174)  \
0                                  NaN  산천어 회센터(2)    횟집    262309.010483
1                                  NaN  산천어 회센터(1)    횟집    262199.752428
2  강원특별자치도 화천군 화천읍 산천어길 137, 나라축제조직위원회       산천어식당    기타    262166.278134
3                                  NaN      야간 구이터    기타    262309.010483
4                                  NaN      외국인구이터    기타    262290.842004

   좌표정보y(epsg5174) 위생업태명
0    511826.091243    횟집
1    511689.812677    횟집
2    512435.131903    기타
3    511826.091243    기타
4    512049.482131    기타

In [5]:
status_counts = df['영업상태명'].value_counts()
print(status_counts)

영업상태명
폐업       1529729
영업/정상     687166
Name: count, dtype: int64

In [6]:
df = df[df['영업상태명'] == '영업/정상']
print(df.shape)  # (행 수, 열 수)

(687166, 9)

In [13]:
status_counts = df['업태구분명'].value_counts()
print(status_counts)

업태구분명
한식                 303110
기타                 102873
호프/통닭               61718
식육(숯불구이)            37875
분식                  35031
경양식                 31017
중국식                 26376
일식                  20856
정종/대포집/소주방          14209
횟집                  13111
통닭(치킨)              11558
외국음식전문점(인도,태국등)      5991
까페                   4176
탕류(보신용)              3757
김밥(도시락)              3716
뷔페식                  3100
패스트푸드                2585
라이브카페                1182
냉면집                  1179
감성주점                 1068
패밀리레스트랑               984
복어취급                  703
출장조리                  460
키즈카페                  278
전통찻집                  162
이동조리                   29
커피숍                     2
기타 휴게음식점                1
Name: count, dtype: int64

In [19]:
from pyproj import Transformer
import pandas as pd

# 좌표 변환기 설정: EPSG 5174 → EPSG 4326 (WGS84)
transformer = Transformer.from_crs("EPSG:5174", "EPSG:4326", always_xy=True)

# 결측치 제거: 사업장명과 좌표 필드
df = df.dropna(subset=['사업장명', '좌표정보x(epsg5174)', '좌표정보y(epsg5174)']).copy()

# 좌표 변환 함수
def convert_to_wgs84(row):
    x = row['좌표정보x(epsg5174)']
    y = row['좌표정보y(epsg5174)']
    lon, lat = transformer.transform(x, y)
    return pd.Series({'longitude': lon, 'latitude': lat})

# 위도/경도 컬럼 추가
df[['longitude', 'latitude']] = df.apply(convert_to_wgs84, axis=1)

# 결과 확인
print(df[['사업장명', '좌표정보x(epsg5174)', '좌표정보y(epsg5174)', 'longitude', 'latitude']].head())

              사업장명  좌표정보x(epsg5174)  좌표정보y(epsg5174)   longitude   latitude
1527567     솔향기도시락    136832.787355    345854.111685  126.294730  36.611753
1527568  피자몰뉴코아광명점    189263.012222    439900.832911  126.879428  37.461212
1527569       학송갈비    390502.213371    195701.555255  129.093656  35.242530
1527570         일다    389994.568500    196077.822727  129.088170  35.246015
1529733      정담손만두    237475.357120    314715.505059  127.418191  36.332515

In [20]:
df.head()

,영업상태명,소재지전화,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보x(epsg5174),좌표정보y(epsg5174),위생업태명,longitude,latitude
1527567,영업/정상,NaN,충청남도 태안군 남면 신온리 130-52,"충청남도 태안군 남면 마검포길 283, 1층",솔향기도시락,한식,136832.787355,345854.111685,한식,126.294730,36.611753
1527568,영업/정상,NaN,경기도 광명시 하안동 38 뉴코아아울렛,"경기도 광명시 하안로287번길 8, 뉴코아아울렛 지하1층 일부호 (하안동)",피자몰뉴코아광명점,기타,189263.012222,439900.832911,기타,126.879428,37.461212
1527569,영업/정상,NaN,부산광역시 금정구 부곡동 23-14,"부산광역시 금정구 무학송로 127-1, 1층 (부곡동)",학송갈비,식육(숯불구이),390502.213371,195701.555255,식육(숯불구이),129.093656,35.242530
1527570,영업/정상,NaN,부산광역시 금정구 구서동 413-51,"부산광역시 금정구 수림로72번길 150-7, 1층 (구서동)",일다,경양식,389994.568500,196077.822727,경양식,129.088170,35.246015
1529733,영업/정상,NaN,대전광역시 중구 선화동 151-13 선화현대빌딩 지하1층 11호,"대전광역시 중구 보문로 337, 선화현대빌딩 지하1층 11호 (선화동)",정담손만두,분식,237475.357120,314715.505059,분식,127.418191,36.332515

In [21]:
# CSV로 저장 (인코딩은 필요에 따라 cp949 또는 utf-8-sig)
df.to_csv('converted_store_data.csv', index=False, encoding='utf-8-sig')

In [ ]:
import pandas as pd

df = pd.read_csv('converted_store_data.csv', encoding='utf-8-sig')

print(df.head())

In [26]:
# 결측치 제거: 사업장명과 좌표 필드
df2 = df.dropna(subset=['소재지전화']).copy()

In [27]:
df2.head()

,영업상태명,소재지전화,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보x(epsg5174),좌표정보y(epsg5174),위생업태명,longitude,latitude
1529736,영업/정상,032 546 0603,인천광역시 남동구 간석동 134-4 1층 103호,"인천광역시 남동구 석산로183번길 44, 1층 일부호 (간석동)",아빠가만든쭈꾸미제육 간석점,한식,174492.937879,440093.090281,한식,126.712477,37.462654
1529747,영업/정상,033 7348483,강원특별자치도 원주시 단계동 848-3,"강원특별자치도 원주시 장미공원길 25-13, 1층 (단계동)",라라식당,한식,282558.897361,427510.330825,한식,127.932517,37.345971
1529795,영업/정상,032 4326609,"인천광역시 중구 남북동 931 1,2층","인천광역시 중구 용유서로2번길 11, 1,2층 (남북동)",베토벤하우스,기타,147244.991646,438069.803056,기타,126.404643,37.443270
1529799,영업/정상,041 9201194,충청남도 서산시 예천동 1595,"충청남도 서산시 예천8로 22-7, 1층 (예천동)",가마치통닭 서산예천점,호프/통닭,150782.643553,362782.975406,호프/통닭,126.449561,36.765118
1529800,영업/정상,07080651512,충청남도 서산시 인지면 풍전리 332-3,"충청남도 서산시 인지면 풍전2길 50, 1층",원트(wont),기타,148764.048472,363488.340584,기타,126.426907,36.771367

In [29]:
# 첫 단어(시/도) 추출
df2['시도'] = df2['소재지전체주소'].str.split().str[0]

# 시/도별 개수 세기
region_counts = df2['시도'].value_counts()

print(region_counts)

시도
경기도            71048
서울특별시          45544
경상남도           26711
경상북도           25956
부산광역시          22055
강원특별자치도        20293
충청남도           18242
전라남도           16716
대구광역시          16083
인천광역시          15597
충청북도           15283
전북특별자치도        13757
대전광역시           9567
광주광역시           7779
울산광역시           7768
제주특별자치도         6835
세종특별자치시         1781
-104               1
1.2층               1
한일유앤아이아파트상가        1
-1번지               1
Name: count, dtype: int64

In [30]:
valid_regions = [
    '서울특별시', '부산광역시', '대구광역시', '인천광역시', '광주광역시',
    '대전광역시', '울산광역시', '세종특별자치시', '경기도', '강원특별자치도',
    '충청북도', '충청남도', '전북특별자치도', '전라남도',
    '경상북도', '경상남도', '제주특별자치도'
]

df2 = df2[df2['시도'].isin(valid_regions)].copy()

In [31]:
print(df2['시도'].value_counts())

시도
경기도        71048
서울특별시      45544
경상남도       26711
경상북도       25956
부산광역시      22055
강원특별자치도    20293
충청남도       18242
전라남도       16716
대구광역시      16083
인천광역시      15597
충청북도       15283
전북특별자치도    13757
대전광역시       9567
광주광역시       7779
울산광역시       7768
제주특별자치도     6835
세종특별자치시     1781
Name: count, dtype: int64

In [32]:
df2.head()

,영업상태명,소재지전화,소재지전체주소,도로명전체주소,사업장명,업태구분명,좌표정보x(epsg5174),좌표정보y(epsg5174),위생업태명,longitude,latitude,시도
1529736,영업/정상,032 546 0603,인천광역시 남동구 간석동 134-4 1층 103호,"인천광역시 남동구 석산로183번길 44, 1층 일부호 (간석동)",아빠가만든쭈꾸미제육 간석점,한식,174492.937879,440093.090281,한식,126.712477,37.462654,인천광역시
1529747,영업/정상,033 7348483,강원특별자치도 원주시 단계동 848-3,"강원특별자치도 원주시 장미공원길 25-13, 1층 (단계동)",라라식당,한식,282558.897361,427510.330825,한식,127.932517,37.345971,강원특별자치도
1529795,영업/정상,032 4326609,"인천광역시 중구 남북동 931 1,2층","인천광역시 중구 용유서로2번길 11, 1,2층 (남북동)",베토벤하우스,기타,147244.991646,438069.803056,기타,126.404643,37.443270,인천광역시
1529799,영업/정상,041 9201194,충청남도 서산시 예천동 1595,"충청남도 서산시 예천8로 22-7, 1층 (예천동)",가마치통닭 서산예천점,호프/통닭,150782.643553,362782.975406,호프/통닭,126.449561,36.765118,충청남도
1529800,영업/정상,07080651512,충청남도 서산시 인지면 풍전리 332-3,"충청남도 서산시 인지면 풍전2길 50, 1층",원트(wont),기타,148764.048472,363488.340584,기타,126.426907,36.771367,충청남도

In [33]:
print(df2['업태구분명'].value_counts())

업태구분명
한식                 167233
호프/통닭               30837
기타                  27848
식육(숯불구이)            21758
분식                  18357
중국식                 14520
경양식                 12385
통닭(치킨)               9542
횟집                   8863
일식                   7551
정종/대포집/소주방           6383
탕류(보신용)              2953
까페                   2506
김밥(도시락)              2287
패스트푸드                2038
뷔페식                  1915
외국음식전문점(인도,태국등)      1257
냉면집                   616
복어취급                  604
라이브카페                 491
패밀리레스트랑               331
출장조리                  238
감성주점                  166
키즈카페                  146
전통찻집                  122
이동조리                   25
기타 휴게음식점                1
Name: count, dtype: int64

In [34]:
exclude_types = ['기타 휴게음식점', '출장조리', '라이브카페', '키즈카페', '이동조리']
df2 = df2[~df2['업태구분명'].isin(exclude_types)].copy()

print(df2['업태구분명'].value_counts())

업태구분명
한식                 167233
호프/통닭               30837
기타                  27848
식육(숯불구이)            21758
분식                  18357
중국식                 14520
경양식                 12385
통닭(치킨)               9542
횟집                   8863
일식                   7551
정종/대포집/소주방           6383
탕류(보신용)              2953
까페                   2506
김밥(도시락)              2287
패스트푸드                2038
뷔페식                  1915
외국음식전문점(인도,태국등)      1257
냉면집                   616
복어취급                  604
패밀리레스트랑               331
감성주점                  166
전통찻집                  122
Name: count, dtype: int64

In [36]:
# CSV로 저장 (인코딩은 필요에 따라 cp949 또는 utf-8-sig)
df2.to_csv('filtered_store_data.csv', index=False, encoding='utf-8-sig')

In [37]:
df2.describe()

       좌표정보x(epsg5174)  좌표정보y(epsg5174)      longitude       latitude
count    340114.000000    340114.000000  340114.000000  340114.000000
mean     254766.679591    333897.942972     127.607537      36.501181
std       80451.467667    120727.162872       0.890286       1.090811
min       -9019.302980    -42123.042899     124.622034      33.114467
25%      192796.461189    230012.451497     126.919787      35.553038
50%      215766.651285    363414.097480     127.178046      36.771559
75%      335391.104611    443640.041720     128.500898      37.493924
max      545853.448233    565477.982199     130.911659      38.584569